body header
{
	border: thin solid red;
	width: inherit;
	position: relative;
	padding: 1em;
}

body header h1,
body header nav
{
	display: inline-block;
	margin: 0em;
}

body header nav
{
	position: absolute;
	bottom: 1em;
	right: 1em;
}

body main
{
	border: thick solid green;
	width: inherit;
	height: 10em;
	padding: 0em;
	position: relative;
}

body footer
{
	border: thin solid blue;
}

main section
{
	border: thin solid orange;
	position: absolute;
	width: 100%
}
