body header
{
	border: thin solid red;
}

body main
{
	border: thick solid green;
	width: inherit;
	height: 10em;
	padding: 0em;
	position: relative;
}

body footer
{
	border: thin solid blue;
}

main section
{
	border: thin solid orange;
	position: absolute;
	width: 100%
}
